*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #f7e04a;
    top: 0;
    left: 0;
    color: white;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 2000px;
}

#header-img{
    height: 4.5rem;
    width: 4.5rem;
}

#header h1{
    font-family: Arial;
    margin-left: 1.75rem;
}

.navigation{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navigation #hamburger-menu{
    font-size: 2.5rem;
    display: none;
}

#nav-bar a{
    font-size: 18px;
    font-style: bold;
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
}

.nav-toggle{
    display: none;
    width: 25px;
    height: 25px;
}

.hero-section{
    margin-top: 100px;
    width: 100%;
    height: 1600px;
    left: 0;
}

.hero-section h1, h2, input[type="submit"]{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

input[type="email"]{
    width: 170px;
    height: 30px;
    margin-left: 550px;
    margin-top: 20px;
}

input[type="submit"]{
    width: 120px;
    height: 30px;
    background-color: #f7e04a;
    border: none;
    padding: 0 12px;
    margin-left: 570px;
}

.features{  
    margin-top: 30px;
    height: 425px;
}

.content{
    text-align: center;
    line-height: 1.6;
    width: 330px;
    padding: 7px 10px 7px 10px;
    float: left;
    border-radius: 25px;
    box-shadow: -3px 5px 9px 8px #5e5d5d;
}

.features .content{
    margin-top: 70px;
    margin-left: 70px;
    height: 300px;
}

.pricing{  
    margin-top: 30px;
    width: 100%;
    height: 425px;
    top: 0;
    left: 0;
}

.pricing h3{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.pricing .content{
    margin-top: 80px;
    margin-left: 70px;
    height: 385px;
}

.pricing input[type="submit"]{
    margin-top: 50px;
    margin-left: 0;
}

.commercial{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 350px;
    left: 0;
    right: 0;
}

iframe{
    margin-top: 10px;
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    html{
        font-size: 90%;
    }
    #header a{
        display: none;
    }

    .navigation #hamburger-menu{
        display: inline-block;
    }

    .nav-bar{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        top: 100%;
        width: 50%;
        height: 100vh;
        right: -100%;
        background-color: #f7e04a;
        transition: .5s linear;
        padding-left: 2.5rem;
    }

    #header nav a{
        display: inline-block;
        text-align: center;
        margin-top: 2.5rem;
        font-size: 18px;
    }

    .nav-toggle:checked ~ .nav-bar{
        right: 0;
    }
    input[type="email"]{
        margin-left: 80px;
    }

    input[type="submit"]{
        margin-left: 105px;
    }

    .hero-section{
        padding-bottom: 200px;
        height: 430vh;
    }

    .content{
        box-shadow: 0 5px 9px 8px #5e5d5d;
    }

    .features .content, .pricing .content{
        margin-left: 10px;
    }

    .commercial{
        padding-top: 50px;
    }
}